.container {
  width: 100%;
  margin: 0 auto;
}

.paddings {
  padding: 12px 20px;
}

.withoutPaddings {
  padding: 0;
}

.sm {
  max-width: 640px;
}
.md {
  max-width: 768px;
}
.ml {
  max-width: 992px;
}
.lg {
  max-width: 1200px;
}
.full {
  max-width: 100%;
}
