.title {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin-bottom: 75px;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background: $color-accent;
  }
}
